
//
// Load core variables and mixins
// --------------------------------------------------

@import "variables.less";
@import "ogangi/variables.less";
@import "mixins.less";


//
// Font Family
// --------------------------------------------------

//
// Format
// --------------------------------------------------

header{
  background-color: @header-bg;
  &.external{
    height: @ext-hdr-hg;
  }
  &.landing,&.internal{
    height: @int-hp-hdr-hg;
  }
}

.logo{
  display: block;
  &.external{
    height: @ext-logo-hg;
  }
  &.landing{
    height: @int-hp-logo-hg;
  }
  &.internal{
    height: @int-ip-logo-hg;
  }  
}

.container{
  width: 80%;
}

.container,.container-fluid{
  color: @cnt-sct-txt;
  &.landing{
    height: @int-hp-nav-sec;
  }
  &.internal{
    height: @int-ip-nav-sec;
  }
}

footer{
  background-color: @footer-bg;
  &.external{
    height: @ext-ftr-hg;
  }
  &.landing,&.internal{
    height: @int-hp-ftr-hg;
  }
}

//
// Header
// --------------------------------------------------

header{
  
}

//
// Buttons
// --------------------------------------------------

// Apply the mixin to the buttons
.btn-external{ .button-variant(@btn-external-color; @btn-external-bg; @btn-external-border); }
.btn-internal{ .button-variant(@btn-internal-color; @btn-internal-bg; @btn-internal-border); }


// Common styles
.btn{
  font-family: "Muli";
  &.btn-external{
    height: 45px;
    font-size: large;
    font-weight: normal;
    border-radius: 2px;
    box-shadow: none;
  } 
  &.btn-internal{
    height: 36px;
    font-size: medium;
    font-weight: bold;
    border-radius: 5px;
  }
}

//
// Inputs
// --------------------------------------------------

input::-webkit-input-placeholder,   /* WebKit browsers */
input:-moz-placeholder,             /* Mozilla Firefox 4 to 18 */
input::-moz-placeholder,            /* Mozilla Firefox 19+ */
input:-ms-input-placeholder{        /* Internet Explorer 10+ */
  color: #767676;
}

input::-webkit-input-placeholder { 
  padding-left: 7px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"]{
  font-family: "Muli";
  background-color: white;
  border: 1px solid @ogangi-gray;
  padding: 0px;
  padding-left: 5px;
  
  .external &{
    font-size: large;
  }

  .internal &{
    font-size: small;
  }
}

//
// Nav Big Buttons
// -----------------------------------------------------

// Common styles
.btn-darkgreen,
.btn-lightblue,
.btn-orange,
.btn-red,
.btn-darkblue,
.btn-lilac,
.btn-lightgreen,
.btn-yellow{
  
}

// Mixin for generating new styles
.nav-btn-styles(@btn-color: #555) {
  background-color  : white;
  border            : 2px solid transparent;
  border-radius     : 5px;
  padding           : 4px;
  .icon{
    display       : block;
    font-size     : medium;
    color         : white;
    vertical-align: middle;
    .icon-bg{
      border-radius : 50%;
      width         : 35px;
      height        : 35px;
      line-height   : 35px !important;
      margin        : 0 auto;
    }
  }
  .text{
    display   : block;
    text-align: center;
    color     : #767676;
  }
  &:hover,.icon-bg{
    background-color: @btn-color !important;
    font-weight: bold;
  }
}

// Apply the mixin to the buttons
.btn-darkgreen  { .nav-btn-styles(@darkgreen);  }
.btn-lightblue  { .nav-btn-styles(@lightblue);  }
.btn-orange     { .nav-btn-styles(@orange);     }
.btn-red        { .nav-btn-styles(@red;)        }
.btn-darkblue   { .nav-btn-styles(@darkblue);   }
.btn-lilac      { .nav-btn-styles(@lilac);      }
.btn-lightgreen { .nav-btn-styles(@lightgreen); }
.btn-yellow     { .nav-btn-styles(@yellow);     }
